<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="user.config">
    <add key="LOGIN" value="" />
    <add key="LOGINHEADER" value="X-Mashape-Key" />
    <add key="PASSWORD" value="spoonacular-recipe-food-nutrition-v1.p.mashape.com" />
    <add key="PASSWORDHEADER" value="X-Mashape-Host" />
    <add key="DESTINATION" value="https://spoonacular-recipe-food-nutrition-v1.p.mashape.com/" />
  </appSettings>
</configuration>